<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <!--Font-->
    <!-- <link href="./css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="../css/invoice.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        :root,
        [data-bs-theme="light"] {
            --bs-themecolor: #0071cc;
            --bs-themecolor-rgb: 0, 113, 204;
            --bs-themehovercolor: #005599;
            --bs-themehovercolor-rgb: 0, 84.75, 153;
            --bs-link-color: var(--bs-themecolor);
            --bs-link-color-rgb: var(--bs-themecolor-rgb);
            --bs-link-hover-color: var(--bs-themehovercolor);
            --bs-link-hover-color-rgb: var(--bs-themehovercolor-rgb);
            --bs-primary: var(--bs-themecolor);
            --bs-primary-rgb: var(--bs-themecolor-rgb);
            --bs-primary-text-emphasis: #002d52;
            --bs-primary-bg-subtle: #cce3f5;
            --bs-primary-border-subtle: #99c6eb;
            --bs-body-color: #404040;
            --bs-body-color-rgb: 64, 64, 64;
            --bs-heading-color: var(--bs-emphasis-color);
            --bs-body-font-family: Poppins, sans-serif;
        }

        body {
            background: #e7e9ed;
            font-size: 10px;
            line-height: 22px;
        }

        img {
            vertical-align: inherit;
        }

        iframe {
            border: 0 !important;
        }

        b,
        strong {
            font-weight: 600;
        }

        .table,
        .table> :not(caption)>*>* {
            --bs-table-color: #404040;
        }

        .text-1 {
            font-size: 12px !important;
            font-size: 0.75rem !important;
        }

        .fw-600 {
            font-weight: 600 !important;
        }

        hr {
            opacity: 0.15;
        }

        .card-header {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }

        .table> :not(:last-child)> :last-child>* {
            border-bottom-color: inherit;
        }

        .table:not(.table-sm)> :not(caption)>*>* {
            padding: 0.75rem;
        }

        .table-sm> :not(caption)>*>* {
            padding: 0.1rem;
        }

        .table td.bg-light,
        .table th.bg-light,
        .table tr.bg-light td,
        .table tr.bg-light th {
            background-color: #f8f9fa !important;
        }

        .table td.bg-light-1,
        .table th.bg-light-1,
        .table tr.bg-light-1 td,
        .table tr.bg-light-1 th {
            background-color: #e9ecef !important;
        }

        .table td.bg-light-2,
        .table th.bg-light-2,
        .table tr.bg-light-2 td,
        .table tr.bg-light-2 th {
            background-color: #dee2e6 !important;
        }

        .table td.bg-light-3,
        .table th.bg-light-3,
        .table tr.bg-light-3 td,
        .table tr.bg-light-3 th {
            background-color: #ced4da !important;
        }

        .table td.bg-light-4,
        .table th.bg-light-4,
        .table tr.bg-light-4 td,
        .table tr.bg-light-4 th {
            background-color: #adb5bd !important;
        }

        @media print {

            .invoice-container {
                margin: 0px auto;
                padding: 10px;
                max-width: 100%;
                background-color: #fff;
                border: 1px solid #ccc;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                -o-border-radius: 6px;
                border-radius: 6px;
            }

            body {
                -webkit-print-color-adjust: exact;
                color-adjust: exact;
            }

            .table td,
            .table th {
                background-color: transparent !important;
            }

            .table-responsive {
                padding-left: 0.4px;
                padding-right: 0.4px;
                padding-bottom: 0.4px;
            }

            .table td.bg-light,
            .table th.bg-light,
            .table tr.bg-light td {
                background-color: #f8f9fa !important;
            }

            .table td.bg-light-1,
            .table th.bg-light-1 {
                background-color: #e9ecef !important;
            }

            .table td.bg-light-2,
            .table th.bg-light-2 {
                background-color: #dee2e6 !important;
            }

            .table td.bg-light-3,
            .table th.bg-light-3 {
                background-color: #ced4da !important;
            }

            .table td.bg-light-4,
            .table th.bg-light-4 {
                background-color: #adb5bd !important;
            }

        }

        .invoice-container {
            margin: 0px auto;
            padding: 30px;
            max-width: 850px;
            background-color: #fff;
            border: 1px solid #ccc;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -o-border-radius: 6px;
            border-radius: 6px;
        }

        @media (max-width: 767px) {
            .invoice-container {
                padding: 30px;
                /* padding: 35px 20px 70px 20px; */
                margin-top: 0px;
                border: none;
                border-radius: 0px;
            }
        }
    </style>
</head>

<body>
    <!-- Container -->
    <div class="container-fluid invoice-container" style="width: 100%;">
        <!-- Main Content -->
        <main>
            <div class="table-responsive">
                <table class="table table-bordered border border-secondary mb-0" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="2" class="text-center text-uppercase" style="text-align: center;">
                                <!-- <img src="../img/Logo.png" height="70px"> -->
                                <svg width="199" height="48" viewBox="0 0 199 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M135.36 31.8338C136.013 31.3785 136.589 30.8279 137.076 30.1713C137.563 29.5254 137.973 28.8371 138.316 28.1276C138.648 27.4181 138.936 26.7086 139.147 26.0203C139.357 25.3214 139.523 24.6966 139.645 24.1566C138.936 24.6119 138.228 25.1414 137.541 25.7238C136.854 26.3062 136.19 26.9627 135.537 27.6934C135.348 27.9158 135.138 28.1805 134.906 28.4876C134.684 28.8053 134.463 29.1336 134.252 29.483C134.042 29.8325 133.854 30.1819 133.676 30.5314C133.499 30.8808 133.366 31.1985 133.278 31.4738C133.145 31.8974 133.1 32.1939 133.189 32.3527C133.256 32.5116 133.399 32.5963 133.588 32.5963C133.698 32.5963 133.842 32.5751 133.986 32.5327C134.141 32.4798 134.285 32.4269 134.451 32.3527C134.607 32.2786 134.762 32.1939 134.917 32.0986C135.083 32.0245 135.227 31.9186 135.36 31.8338ZM141.339 23.1823C141.339 23.7965 141.284 24.4531 141.173 25.1308C141.062 25.7979 140.896 26.4756 140.686 27.1322C140.476 27.7887 140.232 28.4241 139.955 29.0383C139.678 29.6524 139.368 30.2031 139.036 30.7008C138.626 31.315 138.217 31.8444 137.785 32.2786C137.364 32.7128 136.943 33.0622 136.522 33.3375C136.101 33.6129 135.681 33.8035 135.271 33.9199C134.861 34.0364 134.44 34.1 134.031 34.1C133.632 34.1 133.222 34.0364 132.801 33.9305C132.414 33.8141 132.115 33.6446 131.905 33.4011C131.694 33.1681 131.561 32.8822 131.495 32.5539C131.428 32.2257 131.439 31.8656 131.517 31.4844C131.594 31.1032 131.738 30.7008 131.949 30.2984C132.359 29.483 132.846 28.6994 133.411 27.9581C133.975 27.2063 134.607 26.5074 135.293 25.8615C135.98 25.2155 136.711 24.6225 137.497 24.0824C138.283 23.553 139.091 23.0765 139.933 22.6741C139.944 22.6105 139.955 22.5576 139.955 22.5258C139.966 22.4835 139.966 22.4517 139.966 22.4305C140.022 21.8693 139.911 21.4457 139.656 21.1704C139.401 20.8951 139.047 20.7574 138.593 20.7574C138.538 20.7574 138.493 20.7574 138.449 20.7574C138.405 20.7574 138.361 20.7574 138.305 20.7574C137.685 20.8315 137.12 21.0221 136.611 21.3398C136.113 21.6469 135.647 22.0281 135.238 22.4729C134.828 22.907 134.44 23.3836 134.108 23.9024C133.765 24.4107 133.455 24.9084 133.167 25.3849C132.602 26.2956 132.093 27.2275 131.617 28.1699C131.152 29.123 130.697 30.0866 130.277 31.0608C129.845 32.035 129.424 33.0093 129.003 33.9835C128.582 34.9577 128.128 35.9213 127.663 36.8744C127.586 37.0226 127.442 37.0862 127.242 37.0862C127.11 37.0862 126.977 37.0544 126.822 37.0014C126.667 36.9485 126.534 36.8744 126.412 36.7897C126.29 36.7049 126.19 36.6096 126.113 36.5037C126.035 36.4084 126.002 36.3026 126.024 36.1967C126.268 34.5341 126.578 32.8822 126.966 31.2408C127.342 29.5995 127.774 27.9793 128.261 26.3592C128.749 24.7496 129.28 23.1506 129.856 21.5622C130.432 19.9844 131.041 18.4066 131.694 16.8499C132.37 15.198 133.067 13.6096 133.765 12.0847C134.463 10.5599 135.149 9.11971 135.847 7.75368C136.533 6.38765 137.22 5.11693 137.895 3.93093C138.571 2.74492 139.213 1.67539 139.844 0.701172C139.9 0.584689 140.022 0.531738 140.199 0.531738C140.309 0.531738 140.442 0.563514 140.575 0.605871C140.697 0.658818 140.83 0.722346 140.919 0.796472C141.029 0.881187 141.096 0.965901 141.151 1.06121C141.206 1.15651 141.206 1.25182 141.162 1.34712C140.608 2.43782 140.01 3.62382 139.357 4.89454C138.715 6.16527 138.039 7.51012 137.353 8.9185C136.666 10.3269 135.957 11.7988 135.249 13.3343C134.54 14.8591 133.842 16.4475 133.167 18.0783C132.491 19.7091 131.849 21.3822 131.229 23.0976C130.609 24.8025 130.044 26.5392 129.546 28.297C129.856 27.6616 130.177 27.0263 130.498 26.4015C130.819 25.7767 131.174 25.1626 131.55 24.5484C131.871 24.0189 132.237 23.4471 132.658 22.8223C133.078 22.2081 133.532 21.6257 134.042 21.0751C134.551 20.5244 135.105 20.0585 135.703 19.6667C136.301 19.2855 136.954 19.0631 137.674 19.0101C137.74 19.0101 137.807 19.0101 137.862 19.0101C137.929 19.0101 137.995 19.0101 138.05 19.0101C138.56 19.0101 139.003 19.0843 139.368 19.2325C139.745 19.3808 140.055 19.5926 140.332 19.8679C140.597 20.1432 140.808 20.4715 140.974 20.8421C141.129 21.2127 141.251 21.6257 141.317 22.0705C142.07 21.7846 142.845 21.5622 143.62 21.4139C144.396 21.2657 145.182 21.1915 145.957 21.1915C146.799 21.1915 147.651 21.2869 148.515 21.4881C148.648 21.5198 148.759 21.5728 148.858 21.6681C148.969 21.7528 149.036 21.8375 149.091 21.9222C149.135 22.0069 149.146 22.0811 149.124 22.1552C149.102 22.2293 149.036 22.2611 148.903 22.2611C148.858 22.2611 148.77 22.2399 148.648 22.2187C147.884 22.0175 147.109 21.9116 146.345 21.9116C144.684 21.954 143.034 22.367 141.339 23.1823ZM113.068 33.2634C113.267 33.4011 113.489 33.4752 113.71 33.4752C114.065 33.4752 114.452 33.3481 114.884 33.094C115.305 32.8398 115.748 32.501 116.191 32.0986C116.634 31.6962 117.077 31.2408 117.52 30.7326C117.963 30.2349 118.372 29.7477 118.749 29.2606C119.125 28.7841 119.458 28.3394 119.757 27.937C120.056 27.5346 120.277 27.2275 120.443 27.0157C120.731 26.6133 120.997 26.2533 121.252 25.9038C121.108 25.8932 120.964 25.8191 120.831 25.692C120.698 25.5649 120.598 25.4167 120.51 25.2473C120.421 25.0778 120.366 24.9084 120.344 24.7284C120.321 24.559 120.332 24.4107 120.399 24.3154C120.465 24.1989 120.543 24.0295 120.643 23.8177C120.742 23.6059 120.831 23.373 120.919 23.1188C120.997 22.8753 121.041 22.6423 121.063 22.4093C121.086 22.187 121.03 22.0069 120.919 21.901C120.775 21.7422 120.587 21.6681 120.332 21.6681C120.144 21.6681 119.912 21.7316 119.646 21.8375C119.38 21.954 119.07 22.1446 118.716 22.4305C118.361 22.7164 117.952 23.087 117.498 23.5636C117.044 24.0401 116.523 24.6437 115.947 25.3743C115.748 25.6285 115.493 25.9779 115.194 26.4015C114.895 26.8251 114.596 27.3016 114.286 27.8205C113.976 28.3288 113.688 28.8688 113.411 29.4195C113.135 29.9701 112.924 30.4996 112.78 30.9867C112.636 31.4844 112.57 31.9291 112.603 32.3315C112.625 32.7339 112.78 33.041 113.068 33.2634ZM120.211 30.0548C119.557 30.7961 118.871 31.5056 118.151 32.1727C117.442 32.8398 116.689 33.4752 115.892 34.0682C115.46 34.3753 115.028 34.6083 114.585 34.7671C114.153 34.9153 113.733 34.9895 113.323 34.9895C112.891 34.9895 112.492 34.9048 112.116 34.7459C111.75 34.5871 111.429 34.3541 111.163 34.047C110.909 33.7399 110.709 33.3693 110.588 32.9351C110.477 32.501 110.444 31.9927 110.51 31.4209C110.577 30.7537 110.754 30.0231 111.031 29.25C111.296 28.4664 111.64 27.6828 112.06 26.8886C112.47 26.0944 112.957 25.3108 113.5 24.5378C114.043 23.7648 114.63 23.0659 115.272 22.4411C115.903 21.8163 116.567 21.2763 117.276 20.8209C117.985 20.3762 118.705 20.0585 119.436 19.8785C119.613 19.8361 119.79 19.7938 119.967 19.7832C120.133 19.7726 120.299 19.762 120.465 19.762C120.908 19.762 121.285 19.8361 121.595 19.995C121.905 20.1538 122.16 20.355 122.348 20.6197C122.536 20.8739 122.68 21.181 122.769 21.5304C122.846 21.8799 122.891 22.2399 122.879 22.6211C123.311 21.7951 123.765 20.9586 124.253 20.122C124.341 19.9738 124.463 19.8785 124.64 19.8255C124.817 19.7726 125.017 19.7514 125.227 19.7514C125.415 19.7514 125.581 19.7726 125.759 19.8149C125.936 19.8573 126.08 19.9102 126.213 19.9844C126.346 20.0585 126.434 20.1432 126.489 20.2491C126.545 20.3444 126.545 20.4503 126.478 20.5668C126.157 21.2551 125.825 21.9434 125.471 22.6317C125.127 23.32 124.784 24.0189 124.441 24.7284C124.109 25.4379 123.799 26.1474 123.511 26.8569C123.223 27.5663 122.979 28.297 122.758 29.0383C122.691 29.2818 122.625 29.5465 122.547 29.8219C122.481 30.0972 122.437 30.3619 122.425 30.6055C122.414 30.849 122.448 31.0608 122.514 31.2514C122.592 31.4314 122.735 31.5373 122.957 31.5903C123.068 31.6221 123.19 31.6432 123.311 31.6432C123.61 31.6432 123.92 31.5585 124.242 31.3891C124.563 31.2197 124.873 30.9973 125.194 30.722C125.504 30.4466 125.814 30.1396 126.102 29.7901C126.401 29.4407 126.678 29.1018 126.932 28.7523C127.198 28.4029 127.431 28.0746 127.641 27.757C127.863 27.4393 128.029 27.164 128.173 26.931C128.217 26.8674 128.272 26.8145 128.35 26.7827C128.416 26.751 128.494 26.7298 128.56 26.7298C128.715 26.7298 128.87 26.7933 128.992 26.8886C129.125 27.0051 129.147 27.1216 129.059 27.2698C128.892 27.5557 128.671 27.9052 128.416 28.3288C128.162 28.7418 127.885 29.1865 127.564 29.6524C127.242 30.1184 126.899 30.5737 126.534 31.0396C126.157 31.495 125.77 31.908 125.371 32.2786C124.961 32.6492 124.54 32.9457 124.098 33.1681C123.655 33.3905 123.212 33.507 122.769 33.507C122.492 33.507 122.204 33.454 121.916 33.3481C121.617 33.2422 121.34 33.0728 121.063 32.8292C120.631 32.4692 120.366 32.0456 120.255 31.5479C120.189 31.0926 120.155 30.5843 120.211 30.0548ZM44.7877 22.7799C44.3005 23.0765 43.8022 23.4789 43.2817 23.966C42.7612 24.4637 42.274 25.0355 41.8089 25.6814C41.8753 25.692 41.9528 25.7238 42.0525 25.7767C42.1522 25.8297 42.2629 25.8826 42.3736 25.925C42.4844 25.9779 42.6062 26.0309 42.7391 26.0732C42.8719 26.1262 43.0048 26.158 43.1266 26.1686H43.2153C43.4257 26.1686 43.6582 26.1156 43.9129 25.9991C44.1676 25.8932 44.4223 25.7556 44.677 25.5755C44.9317 25.4061 45.1974 25.2155 45.4521 25.0037C45.7068 24.8025 45.9394 24.6013 46.1498 24.4001C46.3602 24.1989 46.5263 24.0295 46.6702 23.8707C46.8031 23.7118 46.9028 23.5953 46.9471 23.5212C47.091 23.2565 47.2018 23.0341 47.2461 22.8435C47.3014 22.6635 47.3125 22.5046 47.2904 22.3881C47.2682 22.2717 47.2018 22.1869 47.1132 22.1234C47.0246 22.0705 46.9028 22.0387 46.7478 22.0387C46.5041 22.0387 46.2051 22.1022 45.8508 22.2293C45.5075 22.3776 45.1531 22.547 44.7877 22.7799ZM49.5494 26.751C49.6934 26.6239 49.8705 26.5498 50.0588 26.5498C50.236 26.5498 50.3578 26.6027 50.4464 26.7298C50.535 26.8463 50.5018 27.0051 50.3467 27.1957C50.092 27.524 49.7487 27.937 49.3168 28.4347C48.885 28.9218 48.4088 29.4512 47.8773 30.0019C47.3457 30.5525 46.781 31.1032 46.1719 31.6538C45.5629 32.1939 44.9427 32.6916 44.3115 33.1469C43.6914 33.5917 43.0602 33.9517 42.429 34.227C41.8089 34.5024 41.222 34.64 40.6683 34.64C40.1921 34.64 39.7713 34.5341 39.3948 34.3012C38.6418 33.8564 38.1103 33.3164 37.8113 32.6704C37.5123 32.035 37.3794 31.3467 37.4126 30.6161C37.4348 29.896 37.5898 29.1441 37.8666 28.3605C38.1435 27.5875 38.4978 26.8463 38.9076 26.1262C39.3173 25.4167 39.7713 24.7602 40.2475 24.1672C40.7236 23.5636 41.1777 23.0765 41.5874 22.6741C41.8753 22.3987 42.1965 22.1234 42.5397 21.8587C42.883 21.5939 43.2484 21.3504 43.636 21.1386C44.0125 20.9268 44.4112 20.7574 44.832 20.6197C45.2417 20.4927 45.6625 20.4185 46.1055 20.4185C46.3712 20.4185 46.637 20.4503 46.9139 20.5138C47.3014 20.5985 47.6337 20.768 47.9216 21.0009C48.1984 21.2339 48.431 21.5092 48.6081 21.8163C48.7853 22.1128 48.9071 22.4305 48.9846 22.7588C49.0622 23.087 49.0843 23.373 49.0622 23.6377C49.0289 24.0719 48.8185 24.5166 48.431 24.9508C48.0434 25.3849 47.5672 25.7767 47.0024 26.1156C46.4377 26.4545 45.8286 26.7404 45.1864 26.9522C44.533 27.1639 43.9461 27.2698 43.4035 27.2698C42.9162 27.2698 42.5176 27.1745 42.1854 26.9733C41.8642 26.7721 41.6649 26.4333 41.6096 25.9779C41.0891 26.7192 40.6572 27.524 40.2918 28.4029C39.9374 29.2712 39.7049 30.1713 39.6273 31.0926C39.6163 31.2408 39.6273 31.4314 39.6606 31.6326C39.7049 31.8338 39.7713 32.035 39.871 32.2257C39.9817 32.4163 40.1035 32.5857 40.2696 32.7233C40.4468 32.861 40.6351 32.9457 40.8787 32.9669C40.9341 32.9669 40.9894 32.9669 41.0337 32.9669C41.078 32.9669 41.1334 32.9669 41.1887 32.9669C41.7092 32.9669 42.2297 32.8504 42.7723 32.6069C43.3149 32.3633 43.8465 32.0562 44.3891 31.675C44.9206 31.2938 45.4411 30.8702 45.9394 30.3937C46.4377 29.9278 46.9139 29.4618 47.3568 28.9959C47.7998 28.53 48.2095 28.0958 48.5749 27.6934C48.9514 27.3122 49.2726 26.9945 49.5494 26.751ZM27.5127 36.3237C28.2214 35.8896 28.753 35.4554 29.1073 35.0212C29.4506 34.5871 29.6721 34.1529 29.7385 33.7187C29.8161 33.2846 29.7718 32.8504 29.6167 32.4163C29.4617 31.9821 29.2292 31.5479 28.9191 31.1032C28.3986 31.5373 27.9003 31.9821 27.4241 32.4268C26.948 32.8716 26.505 33.3587 26.1064 33.8882C26.0289 33.9941 25.9071 34.1635 25.7742 34.3859C25.6302 34.6083 25.4973 34.8412 25.3755 35.0848C25.2426 35.3283 25.154 35.5719 25.0765 35.8048C24.999 36.0378 24.9879 36.2178 25.0433 36.3555C25.1097 36.5461 25.2205 36.6838 25.3755 36.7579C25.5195 36.832 25.6856 36.8638 25.8627 36.8638C26.1617 36.8638 26.4718 36.8002 26.7818 36.6626C27.0919 36.5355 27.3355 36.419 27.5127 36.3237ZM38.974 26.7404C39.0404 26.7192 39.0847 26.7086 39.1069 26.7086C39.1733 26.7086 39.2398 26.7298 39.2841 26.7933C39.3173 26.8569 39.3284 26.9204 39.3284 27.0051C39.3173 27.0898 39.2841 27.1745 39.2287 27.2698C39.1733 27.3546 39.0737 27.4393 38.9519 27.5134C38.7082 27.4181 38.4425 27.3546 38.1656 27.3122C37.8999 27.2698 37.6119 27.2487 37.324 27.2487C36.7371 27.2487 36.1281 27.3228 35.4858 27.471C34.8435 27.6193 34.2123 27.8205 33.5922 28.0746C32.9721 28.3288 32.3741 28.6359 31.7983 28.9853C31.2224 29.3242 30.6909 29.6948 30.2147 30.076C30.7573 30.7643 31.156 31.4844 31.4107 32.2151C31.6654 32.9457 31.7318 33.6658 31.61 34.3541C31.4993 35.0424 31.1781 35.6884 30.6466 36.3025C30.1261 36.9061 29.351 37.4462 28.3432 37.9015C28.0221 38.0392 27.701 38.1451 27.3798 38.2192C27.0698 38.2828 26.7486 38.3145 26.4386 38.3145C25.8627 38.3145 25.3423 38.2086 24.8661 37.9862C24.3899 37.7639 24.0134 37.4568 23.7477 37.0544C23.4819 36.6626 23.3379 36.1967 23.3379 35.6566C23.3379 35.1165 23.5151 34.5447 23.8805 33.9199C24.3346 33.1681 24.9104 32.4374 25.597 31.7491C26.2836 31.0608 27.0587 30.3937 27.9114 29.7689C27.5792 29.3877 27.2248 29.0065 26.8594 28.6147C26.4829 28.2335 26.1285 27.8311 25.7742 27.4393C25.4309 27.0475 25.0987 26.6345 24.7997 26.2215C24.5007 25.8085 24.246 25.3955 24.0467 24.972C23.8473 24.5484 23.7034 24.1142 23.6259 23.68C23.5373 23.2459 23.5483 22.7905 23.648 22.3352C23.8252 21.541 24.1796 20.8103 24.7332 20.1326C25.2869 19.4655 25.9403 18.8831 26.7154 18.396C27.4795 17.9088 28.31 17.5276 29.2181 17.2629C30.115 16.9876 31.012 16.8499 31.8868 16.8499C32.5956 16.8499 33.26 16.9452 33.8801 17.1358C34.5334 17.3264 35.0318 17.6018 35.3751 17.9406C35.7073 18.2795 35.9287 18.6607 36.0395 19.0949C36.1391 19.5184 36.1391 19.9738 36.0395 20.4503C35.9398 20.9162 35.7626 21.3927 35.5301 21.8693C35.2976 22.3352 34.9986 22.78 34.6664 23.2035C34.3231 23.6271 33.9687 23.9977 33.6033 24.3154C33.559 24.3578 33.5036 24.379 33.4482 24.379C33.3375 24.379 33.2267 24.3154 33.116 24.1989C33.0053 24.093 32.9056 23.9554 32.8392 23.7965C32.7727 23.6377 32.7284 23.4683 32.7174 23.2988C32.7063 23.1294 32.7617 22.9917 32.8613 22.8858C33.0385 22.7058 33.2268 22.4834 33.415 22.2187C33.6033 21.954 33.7805 21.6787 33.9355 21.3822C34.0905 21.0857 34.2234 20.7892 34.3231 20.4715C34.4227 20.1644 34.4891 19.8785 34.5002 19.6031C34.5224 19.3278 34.4781 19.0843 34.3784 18.8619C34.2788 18.6395 34.1016 18.4701 33.858 18.3324C33.6586 18.2265 33.3818 18.163 33.0274 18.163C32.662 18.163 32.2634 18.216 31.8204 18.343C31.3885 18.4595 30.9567 18.5972 30.5469 18.7666C30.1372 18.936 29.7496 19.1055 29.3842 19.2855C29.0298 19.4655 28.753 19.6137 28.5647 19.7302C28.1993 19.942 27.845 20.2067 27.5017 20.5032C27.1584 20.8103 26.8594 21.1386 26.6047 21.5092C26.35 21.8693 26.1396 22.2611 25.9846 22.6741C25.8295 23.087 25.752 23.5106 25.752 23.9448C25.752 24.4742 25.8628 24.9719 26.0842 25.4273C26.2946 25.872 26.5715 26.3062 26.9148 26.698C27.247 27.0898 27.6235 27.471 28.0332 27.8311C28.4318 28.1805 28.8194 28.53 29.1849 28.8794C29.6942 28.5512 30.259 28.2335 30.9013 27.937C31.5325 27.6405 32.1969 27.3757 32.8835 27.1534C33.57 26.931 34.2566 26.751 34.9653 26.6133C35.663 26.4862 36.3385 26.4121 36.9697 26.4121C37.7005 26.4015 38.3871 26.518 38.974 26.7404ZM21.8209 28.2441C22.4521 28.1382 23.039 28.0217 23.5594 27.8946C24.0799 27.7569 24.556 27.6087 24.9879 27.4287C25.0654 27.3651 25.1651 27.3334 25.3091 27.3228C25.3423 27.3228 25.3644 27.3228 25.3976 27.3122C25.4309 27.3122 25.453 27.3016 25.4862 27.3016C25.5638 27.3016 25.6523 27.3228 25.7631 27.344C25.8738 27.3651 25.9292 27.4181 25.9513 27.5028C25.9735 27.5981 25.8738 27.7146 25.6634 27.8734C24.1685 28.7206 22.7067 29.2077 21.2893 29.3242C21.09 29.8219 20.6027 30.4784 19.8497 31.3044C19.6172 31.5585 19.3403 31.8233 19.0413 32.088C18.7534 32.3421 18.4323 32.5857 18.1001 32.7869C17.7679 32.9881 17.4135 33.1575 17.037 33.2952C16.6716 33.4222 16.2951 33.4964 15.9185 33.4964C15.531 33.4964 15.1434 33.4222 14.778 33.2952C14.4125 33.1575 14.0693 32.9775 13.7481 32.7445C13.438 32.5116 13.1723 32.2362 12.9508 31.9186C12.7293 31.6009 12.5965 31.262 12.5189 30.902C12.3528 30.0337 12.4414 29.0806 12.7958 28.0429C13.128 27.0369 13.6042 26.0203 14.2021 25.0037C13.9807 24.3789 14.0914 23.7648 14.5233 23.1612C14.9552 22.5788 15.4977 22.1022 16.1622 21.721C16.2175 21.6681 16.284 21.6469 16.3504 21.6363L16.439 21.5728C16.5276 21.4563 16.6051 21.3504 16.6826 21.2339C16.7602 21.128 16.8377 21.0115 16.893 20.9162C16.9816 20.7997 17.0702 20.7362 17.1699 20.7044C17.2695 20.6833 17.3914 20.6621 17.5243 20.6621C17.8011 20.6938 18.0669 20.7892 18.3105 20.948C18.4655 20.9268 18.5984 20.9162 18.7424 20.9056C18.8752 20.8951 19.0081 20.8845 19.1521 20.8845C19.9272 20.8845 20.636 21.0539 21.2782 21.3927C21.9095 21.7316 22.4077 22.2399 22.7732 22.9282C23.1608 23.7118 23.2383 24.6649 22.9947 25.7767C22.9282 26.0415 22.8064 26.3803 22.6071 26.7933C22.441 27.1957 22.1641 27.6828 21.8209 28.2441ZM18.6316 29.5465C18.543 29.5465 18.4544 29.5465 18.3769 29.5465C18.2994 29.5465 18.2108 29.5465 18.1222 29.5465C17.5464 29.5465 16.9595 29.4618 16.3947 29.3136C15.9186 29.1442 15.5642 28.943 15.3427 28.7312C15.2652 28.657 15.1988 28.6041 15.1323 28.5935C15.077 28.5935 15.0437 28.6041 15.0327 28.6359C15.0216 28.6782 15.0105 28.7206 14.9994 28.7629C14.9884 28.8053 14.9773 28.8477 14.9662 28.9006C14.8887 29.1336 14.8333 29.3771 14.778 29.6313C14.7337 29.8854 14.6894 30.1396 14.6451 30.4043C14.5565 30.9232 14.634 31.3044 14.8887 31.5479C14.9994 31.6432 15.1323 31.6962 15.3095 31.6962C15.5974 31.6962 15.8964 31.6327 16.1954 31.495C16.4944 31.3679 16.7823 31.1985 17.0591 30.9973C17.336 30.7961 17.6018 30.5737 17.8454 30.3407C18.089 30.1078 18.3105 29.896 18.4877 29.7054C18.5098 29.6842 18.532 29.6524 18.5652 29.6313C18.5873 29.5889 18.6095 29.5677 18.6316 29.5465ZM19.6504 28.2758C19.9273 27.8734 20.2041 27.4393 20.4809 26.9733C21.0678 25.925 21.3447 24.8661 21.2893 23.8071C21.2229 23.32 21.0568 22.9494 20.8021 22.7164C20.5474 22.4834 20.1709 22.367 19.6615 22.367C19.0303 22.367 18.4101 22.5364 17.8011 22.8964C17.336 23.4471 16.9152 24.0718 16.5387 24.7496L15.7968 26.3168C15.8078 26.4333 15.8521 26.5709 15.9075 26.7086C15.9629 26.8463 16.0515 26.9839 16.1511 27.111C16.2397 27.2487 16.3504 27.3651 16.4612 27.4816C16.5719 27.5875 16.6716 27.6828 16.7712 27.757C17.0702 27.9793 17.4357 28.1276 17.8454 28.1911C18.2551 28.2546 18.6538 28.2864 19.0192 28.2864C19.1189 28.2864 19.2185 28.2758 19.3182 28.2758C19.4178 28.2864 19.5286 28.2864 19.6504 28.2758ZM111.883 19.995C112.005 20.0161 112.138 20.0797 112.282 20.175C112.415 20.2703 112.514 20.3656 112.581 20.4715C112.636 20.5774 112.647 20.6621 112.603 20.7468C112.559 20.8315 112.415 20.8739 112.182 20.8739C111.307 20.8739 110.521 21.0009 109.835 21.2657C109.148 21.5304 108.517 21.8905 107.963 22.3458C107.41 22.8011 106.911 23.3412 106.468 23.9448C106.025 24.5484 105.616 25.2049 105.239 25.8932C104.863 26.5815 104.508 27.3016 104.165 28.0429C103.833 28.7841 103.5 29.5042 103.168 30.2243C102.825 30.9338 102.482 31.6115 102.127 32.2574C101.762 32.9034 101.374 33.4858 100.931 33.9941C100.876 34.0788 100.787 34.1317 100.677 34.1741C100.566 34.1953 100.455 34.2164 100.322 34.2164C100.167 34.2164 99.9901 34.1953 99.8129 34.1423C99.6357 34.0894 99.4696 34.0258 99.3146 33.9411C99.1596 33.8564 99.0378 33.7611 98.9381 33.6446C98.8274 33.5387 98.7831 33.4117 98.7831 33.2952C98.7609 32.7234 98.8052 32.1092 98.8938 31.4315C98.9935 30.7537 99.1264 30.0548 99.3146 29.3454C99.5029 28.6359 99.7133 27.9158 99.9458 27.1851C100.178 26.465 100.433 25.7661 100.688 25.099C101.286 23.5318 101.972 21.9328 102.747 20.3126C102.803 20.2385 102.88 20.1644 103.002 20.1008C103.124 20.0373 103.257 19.9738 103.401 19.9314C103.545 19.8785 103.689 19.8361 103.844 19.8149C103.988 19.7832 104.132 19.762 104.242 19.762C104.364 19.762 104.453 19.7832 104.519 19.8149C104.586 19.8467 104.608 19.9102 104.575 19.995C104.353 20.5668 104.11 21.1598 103.866 21.7951C103.611 22.4199 103.368 23.0765 103.113 23.7436C102.858 24.4107 102.626 25.1096 102.393 25.8191C102.161 26.5286 101.95 27.2487 101.751 27.9899C102.061 27.3334 102.382 26.6662 102.714 26.0097C103.046 25.3532 103.39 24.7178 103.766 24.1142C104.132 23.5106 104.541 22.9494 104.973 22.4305C105.405 21.9116 105.881 21.4563 106.402 21.0751C106.922 20.6938 107.498 20.3974 108.129 20.175C108.749 19.9526 109.447 19.8467 110.2 19.8467C110.466 19.8467 110.732 19.8573 111.008 19.8891C111.285 19.8891 111.573 19.9314 111.883 19.995ZM13.1059 19.995C13.2277 20.0161 13.3605 20.0797 13.5045 20.175C13.6374 20.2703 13.7371 20.3656 13.8035 20.4715C13.8589 20.5774 13.8699 20.6621 13.8256 20.7468C13.7813 20.8315 13.6374 20.8739 13.4048 20.8739C12.53 20.8739 11.7438 21.0009 11.0572 21.2657C10.3706 21.5304 9.73944 21.8905 9.18575 22.3458C8.63207 22.8011 8.13374 23.3412 7.6908 23.9448C7.24785 24.5484 6.83814 25.2049 6.46163 25.8932C6.08513 26.5815 5.73077 27.3016 5.38748 28.0429C5.05527 28.7841 4.72306 29.5042 4.39085 30.2243C4.05864 30.9338 3.70428 31.6115 3.34992 32.2574C2.98449 32.9034 2.59689 33.4858 2.15394 33.9941C2.09858 34.0788 2.01001 34.1317 1.89927 34.1741C1.78853 34.1953 1.66672 34.2164 1.5449 34.2164C1.38987 34.2164 1.21267 34.1953 1.03549 34.1423C0.85831 34.0894 0.692225 34.0258 0.537193 33.9411C0.393235 33.8564 0.260355 33.7611 0.160691 33.6446C0.0610281 33.5387 0.00564338 33.4117 0.00564338 33.2952C-0.016504 32.7234 0.0277976 32.1092 0.116387 31.4315C0.21605 30.7537 0.34894 30.0548 0.537193 29.3454C0.725446 28.6359 0.935855 27.9158 1.1684 27.1851C1.40095 26.465 1.65563 25.7661 1.91032 25.099C2.5083 23.5318 3.19489 21.9328 3.97005 20.3126C4.02542 20.2385 4.10291 20.1644 4.22472 20.1008C4.34653 20.0373 4.47943 19.9738 4.62339 19.9314C4.76735 19.8785 4.9113 19.8361 5.06633 19.8149C5.21029 19.7832 5.35423 19.762 5.46497 19.762C5.58678 19.762 5.67537 19.7832 5.74181 19.8149C5.81933 19.8467 5.83042 19.9102 5.7972 19.995C5.57573 20.5668 5.33209 21.1598 5.08847 21.7951C4.83377 22.4199 4.59016 23.0765 4.33546 23.7436C4.08077 24.4107 3.84823 25.1096 3.61568 25.8191C3.38313 26.5286 3.17271 27.2487 2.97339 27.9899C3.28345 27.3334 3.60462 26.6662 3.93683 26.0097C4.26904 25.3532 4.6123 24.7178 4.98881 24.1142C5.35424 23.5106 5.76397 22.9494 6.19584 22.4305C6.62771 21.9116 7.10389 21.4563 7.62436 21.0751C8.14482 20.6938 8.72065 20.3974 9.35185 20.175C9.97198 19.9526 10.6696 19.8467 11.4226 19.8467C11.6773 19.8467 11.9542 19.8573 12.231 19.8891C12.5079 19.8891 12.7958 19.9314 13.1059 19.995Z" fill="#1A1A18"/>
                                    <path d="M64.1032 33.4752C64.8894 33.4752 65.9525 33.1469 67.2813 32.4904C68.6102 31.8339 69.939 30.9973 71.2679 29.9595C70.8582 29.2818 70.4706 28.5935 70.1162 27.8734C69.7619 27.164 69.4629 26.4439 69.2082 25.7344C68.4995 26.2109 67.8461 26.6345 67.2481 27.0157C66.6501 27.3969 66.0743 27.7993 65.5317 28.2335C63.8707 29.5466 62.9183 30.7749 62.6636 31.9291C62.5418 32.4798 62.6415 32.8822 62.9737 33.1152C63.317 33.3481 63.6935 33.4752 64.1032 33.4752ZM73.3165 18.2901C72.6521 18.2901 72.043 18.6289 71.4783 19.3066C70.9135 19.9844 70.537 20.7574 70.3266 21.6257C70.1605 22.5788 70.227 23.4894 70.5149 24.3684C71.3454 23.8177 72.0873 23.1824 72.7518 22.494C73.4162 21.7952 73.9145 21.0327 74.2467 20.2067C74.4571 19.6561 74.4682 19.1902 74.2799 18.8407C74.0917 18.4701 73.7705 18.2901 73.3165 18.2901ZM89.0633 16.9876C89.9714 16.9876 90.6579 17.2206 91.123 17.6759C91.577 18.1312 91.721 18.7137 91.5549 19.4337C91.4331 19.9844 91.1452 20.4821 90.6801 20.9268C90.2261 21.361 89.7277 21.5198 89.1851 21.4033C88.7311 21.3292 88.4875 21.0962 88.4653 20.715C88.4432 20.3338 88.4764 19.9526 88.554 19.5502C88.6315 19.2325 88.6093 18.9572 88.4653 18.7136C88.3214 18.4807 88.0556 18.3324 87.6902 18.3007C87.0258 18.2159 86.1731 18.4913 85.1432 19.1055C84.1023 19.7196 82.6738 20.7786 80.8466 22.2928C79.6396 23.32 78.3993 24.4531 77.1148 25.6814C75.8302 26.9098 74.5679 28.064 73.3165 29.1336C73.693 29.6524 74.0585 30.2031 74.435 30.7961C74.8115 31.3891 75.1326 32.0456 75.3984 32.7551C75.6642 33.4646 75.8524 34.2376 75.9631 35.0424C76.0628 35.8578 76.0185 36.7155 75.8081 37.6368C75.5645 38.7063 75.0994 39.7123 74.435 40.6442C73.7706 41.5761 72.9843 42.3703 72.0652 43.0268C71.1572 43.6833 70.1384 44.2022 69.0199 44.5728C67.9015 44.954 66.7609 45.1341 65.5982 45.1341C64.4797 45.1341 63.6159 44.9329 63.018 44.5411C62.42 44.1493 62.0324 43.7892 61.8663 43.4715C61.5784 42.9209 61.5341 42.582 61.7445 42.455C61.822 42.455 61.8774 42.5291 61.8995 42.6668C61.9217 42.8044 62.0324 42.995 62.2428 43.228C62.4975 43.5457 62.874 43.821 63.3945 44.0646C63.915 44.2975 64.6458 44.4246 65.6092 44.4246C67.2703 44.4246 68.7542 43.9269 70.0609 42.9315C71.3676 41.9361 72.2756 40.6548 72.7739 39.0664C73.2279 37.5945 73.3276 36.1331 73.0508 34.6612C72.785 33.1893 72.3088 31.8233 71.6555 30.5525C70.9468 31.1032 70.1937 31.6644 69.3853 32.2151C68.577 32.7657 67.7575 33.2528 66.927 33.6764C66.0965 34.0894 65.2659 34.4282 64.4354 34.693C63.6049 34.9471 62.7965 35.0848 62.0103 35.0848C61.3016 35.0848 60.7036 34.873 60.2053 34.46C59.707 34.047 59.563 33.3799 59.7734 32.4692C59.9838 31.4738 60.5818 30.5737 61.5784 29.7583C62.575 28.943 63.7378 28.1382 65.0666 27.344C65.7753 26.9522 66.4508 26.5921 67.0931 26.2744C67.7354 25.9568 68.3887 25.6179 69.0531 25.2579C68.887 24.7072 68.7763 24.1036 68.7099 23.4683C68.6434 22.8329 68.6766 22.2399 68.7984 21.6787C68.9202 21.1598 69.1196 20.6515 69.3853 20.1326C69.6511 19.6137 69.9834 19.1478 70.382 18.7348C70.7807 18.3218 71.2347 17.983 71.7551 17.7182C72.2756 17.4641 72.8403 17.3264 73.4715 17.3264C74.1027 17.3264 74.5789 17.5806 74.9333 18.0995C75.2876 18.6183 75.2987 19.3278 74.9665 20.2385C74.59 21.1492 74.0363 21.9752 73.2833 22.7058C72.5414 23.4365 71.6665 24.146 70.6699 24.8237C70.9246 25.5014 71.2458 26.1262 71.6666 26.698C72.0763 27.2698 72.5192 27.8946 72.9732 28.5723C74.2578 27.4181 75.5202 26.2321 76.7715 25.0037C78.0118 23.7754 79.241 22.6423 80.448 21.6151C82.0205 20.2703 83.5265 19.1584 84.9661 18.2795C86.3613 17.4217 87.7345 16.9876 89.0633 16.9876ZM197.907 9.60682C198.018 9.62799 198.173 9.70211 198.361 9.82918C198.549 9.95626 198.704 10.0939 198.826 10.2422C198.948 10.3904 199.003 10.5175 198.992 10.6446C198.981 10.7716 198.837 10.8246 198.538 10.8458C198.294 10.8564 198.04 10.8669 197.785 10.8669C197.541 10.8775 197.287 10.8775 197.032 10.8775C196.024 10.8775 195.005 10.8458 193.976 10.7822C192.957 10.7187 191.938 10.6551 190.908 10.5704C189.889 10.4857 188.871 10.4116 187.841 10.3269C186.822 10.2528 185.792 10.1998 184.773 10.1786C184.22 10.168 183.655 10.1575 183.09 10.1575C182.525 10.1469 181.961 10.1469 181.385 10.1363C180.211 12.1483 179.093 14.1708 178.052 16.2146C177 18.2583 175.992 20.3232 175.006 22.4305C174.132 24.3048 173.29 26.1897 172.482 28.0852C171.684 29.9701 170.964 31.8974 170.355 33.8776C170.3 34.0364 170.211 34.3329 170.09 34.7565C169.957 35.1801 169.824 35.6778 169.68 36.2602C169.536 36.8426 169.381 37.478 169.215 38.1769C169.06 38.8652 168.927 39.5641 168.805 40.2736C168.683 40.983 168.595 41.6713 168.539 42.3385C168.484 43.0056 168.484 43.6198 168.528 44.1599C168.573 44.6999 168.683 45.1553 168.86 45.5153C169.038 45.8753 169.303 46.0977 169.647 46.1824C169.835 46.2354 170.001 46.3201 170.123 46.4366C170.245 46.553 170.322 46.6801 170.355 46.8072C170.389 46.9343 170.389 47.0507 170.333 47.146C170.278 47.2413 170.167 47.2943 170.001 47.2943C169.912 47.2943 169.791 47.2731 169.624 47.2202C168.827 46.966 168.207 46.5954 167.775 46.1189C167.343 45.6423 167.033 45.0917 166.834 44.4881C166.646 43.8739 166.546 43.2174 166.535 42.5185C166.524 41.8196 166.557 41.1101 166.624 40.4112C166.734 39.2146 166.911 38.0286 167.166 36.8638C167.421 35.699 167.72 34.5447 168.063 33.3905C168.406 32.2468 168.794 31.1032 169.226 29.9701C169.658 28.8371 170.101 27.7252 170.566 26.6133C171.618 24.1248 172.714 21.6787 173.877 19.2643C175.04 16.8605 176.269 14.4779 177.564 12.0953C177.742 11.7776 177.919 11.4599 178.085 11.1317C178.251 10.8034 178.428 10.4751 178.605 10.1469C177.31 10.168 176.014 10.1998 174.73 10.221C173.445 10.2528 172.149 10.2951 170.854 10.3481C169.292 10.4116 167.897 10.4963 166.657 10.5704C165.428 10.6551 164.287 10.7293 163.257 10.814C162.227 10.8987 161.275 10.9834 160.411 11.0576C159.547 11.1423 158.706 11.227 157.897 11.3011C157.089 11.3858 156.281 11.4599 155.483 11.5447C154.686 11.6188 153.844 11.6823 152.936 11.7459H152.914C152.804 11.7459 152.671 11.7141 152.516 11.6294C152.361 11.5552 152.228 11.4599 152.117 11.3541C152.006 11.2482 151.94 11.1423 151.918 11.0364C151.896 10.9411 151.973 10.8564 152.139 10.8246C152.97 10.5493 153.767 10.3163 154.542 10.1363C155.317 9.95626 156.104 9.79742 156.901 9.68093C157.698 9.56445 158.54 9.45856 159.403 9.37385C160.267 9.28913 161.22 9.215 162.261 9.16205C163.29 9.1091 164.42 9.05616 165.66 9.00322C166.889 8.96086 168.274 8.90791 169.802 8.83378C171.407 8.74907 173.013 8.69613 174.619 8.66436C176.213 8.62201 177.819 8.61141 179.436 8.61141C179.724 8.07136 179.978 7.59483 180.211 7.18185C180.432 6.76886 180.654 6.37707 180.853 6.01703C181.053 5.66758 181.263 5.32871 181.473 5.01103C181.684 4.69335 181.916 4.37568 182.16 4.04741C182.404 3.72973 182.68 3.39086 182.979 3.03082C183.289 2.68138 183.633 2.28957 184.031 1.85541C184.131 1.7601 184.264 1.71774 184.408 1.71774C184.552 1.71774 184.718 1.74952 184.895 1.81306C185.072 1.87659 185.216 1.9719 185.349 2.07779C185.482 2.18368 185.582 2.30016 185.648 2.43782C185.715 2.5649 185.715 2.69196 185.67 2.80844C185.471 3.27437 185.283 3.67678 185.106 4.02623C184.939 4.37567 184.773 4.68277 184.607 4.96868C184.452 5.25459 184.297 5.51932 184.142 5.77346C183.987 6.02761 183.81 6.29234 183.633 6.56766C183.456 6.84299 183.256 7.13949 183.035 7.46776C182.813 7.79603 182.57 8.18783 182.293 8.63258C182.614 8.64317 182.946 8.65377 183.267 8.65377C183.6 8.65377 183.921 8.66436 184.253 8.67495C185.36 8.70672 186.49 8.73848 187.641 8.74907C188.782 8.77024 189.934 8.81261 191.085 8.85497C192.237 8.9185 193.378 9.00322 194.518 9.10912C195.703 9.20442 196.81 9.37385 197.907 9.60682ZM164.974 19.0525C164.841 19.116 164.686 19.1584 164.52 19.1584C164.376 19.1584 164.221 19.1372 164.088 19.0949C163.955 19.0525 163.822 18.989 163.7 18.9148C163.634 18.8725 163.556 18.8195 163.479 18.7454C163.39 18.6819 163.313 18.6077 163.246 18.5124C163.18 18.4277 163.135 18.343 163.102 18.2477C163.08 18.163 163.091 18.0677 163.146 17.9618C163.313 17.7077 163.534 17.4853 163.789 17.3053C164.043 17.1252 164.331 16.9664 164.63 16.8393C164.929 16.7123 165.239 16.6064 165.549 16.5111C165.859 16.4158 166.158 16.331 166.435 16.2357C166.457 16.2252 166.502 16.2146 166.546 16.2146C166.668 16.2146 166.812 16.2463 166.978 16.3099C167.144 16.3734 167.288 16.4581 167.421 16.5534C167.554 16.6593 167.631 16.7546 167.676 16.8605C167.72 16.9664 167.676 17.0511 167.554 17.1358C167.321 17.2735 167.1 17.4217 166.889 17.5912C166.69 17.7606 166.48 17.93 166.28 18.1101C166.081 18.2901 165.882 18.4489 165.671 18.6183C165.461 18.7984 165.228 18.936 164.974 19.0525ZM160.655 32.7869C160.555 32.2468 160.555 31.6432 160.655 30.9549C160.754 30.2666 160.909 29.5571 161.12 28.8159C161.33 28.0746 161.585 27.3334 161.873 26.5921C162.161 25.8509 162.438 25.152 162.703 24.506C162.958 23.8601 163.202 23.2777 163.412 22.7588C163.623 22.2505 163.755 21.8587 163.811 21.5939C163.877 21.3398 164.043 21.2127 164.331 21.2127C164.542 21.2127 164.785 21.2763 165.051 21.4033C165.317 21.5304 165.549 21.6892 165.749 21.8693C165.948 22.0493 166.081 22.2399 166.158 22.4411C166.236 22.6423 166.192 22.8117 166.037 22.96C165.505 23.4471 165.029 24.0613 164.619 24.7813C164.209 25.5014 163.855 26.2533 163.556 27.0475C163.268 27.8417 163.036 28.6359 162.847 29.4407C162.67 30.2349 162.537 30.9761 162.449 31.6432C162.416 31.8868 162.416 32.0986 162.449 32.268C162.482 32.4374 162.526 32.5751 162.582 32.681C162.626 32.7869 162.692 32.8716 162.759 32.914C162.825 32.9669 162.892 32.9881 162.925 32.9881H162.958C162.991 32.9881 163.025 32.9881 163.069 32.9881C163.113 32.9881 163.146 32.9881 163.169 32.9881C163.7 32.9881 164.265 32.7869 164.874 32.3739C165.472 31.9715 166.103 31.4315 166.756 30.7537C167.399 30.0866 168.052 29.3242 168.717 28.4558C169.381 27.5981 170.034 26.7298 170.688 25.8403C170.721 25.8297 170.765 25.8191 170.82 25.8191C170.953 25.8191 171.053 25.872 171.119 25.9674C171.186 26.0521 171.23 26.1685 171.241 26.2744C171.252 26.3909 171.23 26.4968 171.186 26.6133C171.131 26.7192 171.053 26.7933 170.92 26.8251C170.643 27.3122 170.322 27.8311 169.957 28.4029C169.602 28.9641 169.204 29.536 168.783 30.0866C168.362 30.6478 167.908 31.1773 167.443 31.6962C166.967 32.2045 166.48 32.6704 165.97 33.0622C165.461 33.454 164.94 33.7717 164.409 34.0047C163.877 34.2376 163.335 34.3541 162.803 34.3541C162.161 34.3541 161.674 34.2376 161.341 34.0152C161.009 33.7929 160.766 33.4011 160.655 32.7869ZM152.239 31.8338C152.892 31.3785 153.468 30.8279 153.955 30.1713C154.442 29.5254 154.852 28.8371 155.195 28.1276C155.528 27.4181 155.816 26.7086 156.026 26.0203C156.236 25.3214 156.403 24.6966 156.524 24.1566C155.816 24.6119 155.107 25.1414 154.42 25.7238C153.734 26.3062 153.069 26.9627 152.416 27.6934C152.228 27.9158 152.017 28.1805 151.785 28.4876C151.563 28.8053 151.342 29.1336 151.131 29.483C150.921 29.8325 150.733 30.1819 150.556 30.5314C150.378 30.8808 150.246 31.1985 150.157 31.4738C150.024 31.8974 149.98 32.1939 150.057 32.3527C150.135 32.5116 150.268 32.5963 150.456 32.5963C150.567 32.5963 150.711 32.5751 150.855 32.5327C151.01 32.4798 151.154 32.4269 151.32 32.3527C151.475 32.2786 151.63 32.1939 151.785 32.0986C151.962 32.0245 152.106 31.9186 152.239 31.8338ZM158.219 23.1824C158.219 23.7965 158.163 24.4531 158.053 25.1308C157.942 25.7979 157.776 26.4756 157.565 27.1322C157.355 27.7887 157.111 28.4241 156.834 29.0383C156.558 29.6524 156.247 30.2031 155.915 30.7008C155.506 31.315 155.096 31.8444 154.664 32.2786C154.243 32.7128 153.822 33.0622 153.402 33.3375C152.981 33.6129 152.56 33.8035 152.15 33.9199C151.74 34.0364 151.32 34.1 150.91 34.1C150.511 34.1 150.102 34.0364 149.681 33.9305C149.293 33.8141 148.994 33.6446 148.784 33.4011C148.573 33.1681 148.441 32.8822 148.374 32.5539C148.308 32.2257 148.319 31.8656 148.396 31.4844C148.474 31.1032 148.629 30.7008 148.828 30.2984C149.238 29.483 149.725 28.6994 150.29 27.9581C150.855 27.2063 151.486 26.5074 152.172 25.8615C152.859 25.2155 153.59 24.6225 154.376 24.0825C155.162 23.553 155.971 23.0765 156.812 22.6741C156.823 22.6105 156.834 22.5576 156.845 22.5258C156.857 22.4835 156.857 22.4517 156.857 22.4305C156.912 21.8693 156.801 21.4457 156.546 21.1704C156.292 20.8951 155.937 20.7574 155.483 20.7574C155.428 20.7574 155.384 20.7574 155.339 20.7574C155.295 20.7574 155.251 20.7574 155.195 20.7574C154.575 20.8315 154.011 21.0221 153.501 21.3398C153.003 21.6469 152.538 22.0281 152.128 22.4729C151.718 22.907 151.331 23.3836 150.999 23.9024C150.655 24.4107 150.345 24.9084 150.057 25.3849C149.493 26.2956 148.983 27.2275 148.507 28.1699C148.042 29.123 147.588 30.0866 147.167 31.0608C146.735 32.035 146.314 33.0093 145.894 33.9835C145.473 34.9577 145.019 35.9213 144.554 36.8744C144.476 37.0226 144.332 37.0862 144.133 37.0862C144 37.0862 143.867 37.0544 143.712 37.0015C143.557 36.9485 143.424 36.8744 143.302 36.7897C143.181 36.705 143.081 36.6096 143.003 36.5037C142.926 36.4084 142.893 36.3026 142.915 36.1967C143.158 34.5341 143.468 32.8822 143.856 31.2408C144.233 29.5995 144.664 27.9793 145.152 26.3592C145.639 24.7496 146.17 23.1506 146.746 21.5622C147.322 19.9844 147.931 18.4066 148.584 16.8499C149.26 15.198 149.958 13.6096 150.655 12.0847C151.353 10.5599 152.039 9.11971 152.737 7.75368C153.424 6.38765 154.11 5.11693 154.786 3.93093C155.461 2.74492 156.104 1.67539 156.735 0.701172C156.79 0.584689 156.912 0.531738 157.089 0.531738C157.2 0.531738 157.333 0.563514 157.466 0.605871C157.598 0.658818 157.72 0.722347 157.82 0.796472C157.92 0.881187 157.997 0.965901 158.053 1.06121C158.108 1.15651 158.108 1.25182 158.064 1.34712C157.51 2.43783 156.912 3.62382 156.259 4.89454C155.616 6.16527 154.941 7.51012 154.254 8.9185C153.568 10.3269 152.859 11.7988 152.15 13.3343C151.442 14.8591 150.744 16.4475 150.068 18.0783C149.393 19.7091 148.751 21.3822 148.13 23.0976C147.51 24.8025 146.946 26.5392 146.447 28.297C146.757 27.6616 147.078 27.0263 147.4 26.4015C147.721 25.7768 148.075 25.1626 148.452 24.5484C148.773 24.0189 149.138 23.4471 149.559 22.8223C149.98 22.2081 150.434 21.6257 150.943 21.0751C151.453 20.5244 152.006 20.0585 152.604 19.6667C153.202 19.2855 153.856 19.0631 154.575 19.0101C154.642 19.0101 154.708 19.0101 154.764 19.0101C154.83 19.0101 154.896 19.0101 154.952 19.0101C155.461 19.0101 155.904 19.0843 156.27 19.2325C156.646 19.3808 156.956 19.5926 157.233 19.8679C157.499 20.1432 157.709 20.4715 157.875 20.8421C158.03 21.2127 158.152 21.6257 158.219 22.0705C158.972 21.7846 159.747 21.5622 160.522 21.4139C161.297 21.2657 162.083 21.1915 162.858 21.1915C163.7 21.1915 164.553 21.2869 165.416 21.4881C165.549 21.5198 165.66 21.5728 165.76 21.6681C165.871 21.7528 165.937 21.8375 165.992 21.9222C166.037 22.0069 166.048 22.0811 166.026 22.1552C166.003 22.2293 165.926 22.2611 165.804 22.2611C165.76 22.2611 165.671 22.2399 165.549 22.2187C164.785 22.0175 164.01 21.9116 163.246 21.9116C161.563 21.954 159.913 22.367 158.219 23.1824Z" fill="#1A1A18"/>
                                    <path d="M194.171 4.02604H194.979C195.367 4.02604 195.633 3.97308 195.765 3.86719C195.909 3.7613 195.976 3.61306 195.976 3.43304C195.976 3.31656 195.943 3.21065 195.876 3.12594C195.81 3.03063 195.71 2.9671 195.599 2.92474C195.477 2.88238 195.256 2.8612 194.935 2.8612H194.182V4.02604H194.171ZM193.506 6.23921V2.31057H194.924C195.411 2.31057 195.754 2.34233 195.976 2.41645C196.197 2.49058 196.363 2.61765 196.496 2.79767C196.629 2.97769 196.684 3.16831 196.684 3.3695C196.684 3.65542 196.574 3.90955 196.363 4.12134C196.153 4.33313 195.865 4.4496 195.511 4.48137C195.655 4.53432 195.776 4.60846 195.865 4.69317C196.031 4.85201 196.23 5.10615 196.474 5.47677L196.972 6.24979H196.164L195.799 5.63562C195.511 5.14851 195.278 4.84141 195.101 4.71434C194.979 4.62963 194.802 4.57668 194.569 4.58727H194.182V6.26039H193.506V6.23921ZM195.178 1.16692C194.636 1.16692 194.115 1.29399 193.606 1.55872C193.097 1.82345 192.698 2.19409 192.41 2.69179C192.122 3.1789 191.978 3.68717 191.978 4.21664C191.978 4.74611 192.122 5.24381 192.399 5.73092C192.676 6.21803 193.074 6.58865 193.584 6.86398C194.093 7.12871 194.625 7.26638 195.167 7.26638C195.721 7.26638 196.253 7.12871 196.751 6.86398C197.26 6.59924 197.648 6.21803 197.936 5.73092C198.213 5.24381 198.357 4.74611 198.357 4.21664C198.357 3.68717 198.213 3.1789 197.925 2.69179C197.637 2.20468 197.238 1.82345 196.729 1.55872C196.242 1.29399 195.71 1.16692 195.178 1.16692ZM195.178 0.552734C195.821 0.552734 196.452 0.711571 197.061 1.02925C197.67 1.34693 198.146 1.79168 198.49 2.38469C198.833 2.9671 198.999 3.58128 198.999 4.21664C198.999 4.852 198.833 5.45559 198.49 6.03801C198.157 6.62042 197.681 7.07576 197.072 7.39344C196.463 7.71112 195.832 7.88056 195.167 7.88056C194.503 7.88056 193.872 7.72171 193.263 7.39344C192.654 7.07576 192.177 6.62042 191.845 6.03801C191.513 5.45559 191.336 4.852 191.336 4.21664C191.336 3.58128 191.502 2.9671 191.845 2.38469C192.189 1.80227 192.665 1.34693 193.274 1.02925C193.916 0.711571 194.536 0.552734 195.178 0.552734Z" fill="#1A1A18"/>
                                </svg>
                                <p class="mb-0" style="font-size: 12px; text-align: left;"> <strong>
                                        GSTIN:24ABCFR5646Q1ZM</strong>
                                </p>
                                <h2 class="mb-0 mt-0" style="font-weight: 600; font-size: 25px;"> crest-connect
                                    
                                </h2>
                                <p class="mt-1 mb-0" style="font-size: 13px;">A6 FF Safal Profitaire Corporate Road
                                    Prahladnagar Ahmedabad
                                    IN</p>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td class="col-4"> &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>
                                                &nbsp; amz@crest-connect-admin.com </td>
                                            <td class="col-4"> &nbsp; <i class="fa fa-globe" aria-hidden="true"></i>
                                                &nbsp; https://www.crest-connect-admin.com </td>
                                            <td class="col-4"> &nbsp; <i class="fa fa-phone" aria-hidden="true"></i>
                                                &nbsp; 7990142652 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0 table-bordered" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td class="col-4"> Invoice No: <strong><%=data.invoiceId%></strong> </td>
                                            <td class="col-4"> Order No: <strong> <%=data.orderId%> </strong> </td>
                                            <td class="col-4"> Place of Supply: <strong> <%=data.shippingAddress.city %> </strong></td>
                                        </tr>
                                        <tr>
                                            <td class="col-4"> Invoice Date: <strong> <%=data.orderDate%> </strong></td>
                                            <td class="col-4"> Order Date: <strong> <%=data.orderDate%> </strong></td>
                                            <td class="col-4"> Date of Supply: <strong> <%=data.createdAt%> </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12"> Payment Method: <strong> &nbsp;<%=data.paymentDetail.method%> </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0 table-bordered" style="width: 100%;">
                                    <thead>
                                        <tr class="bg-light">
                                            <td class="col-6 text-center" style="text-align: center;"><strong>BILL TO PARTY</strong></td>
                                            <td class="col-6 text-center" style="text-align: center;"><strong>SHIP TO PARTY / DELIVERY
                                                    ADDRESS</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-6"> <strong> <%=data.billingAddress.firstName%> &nbsp; <%=data.billingAddress.lastName%> </strong></td>
                                            <td class="col-6"> <strong> <%=data.shippingAddress.firstName%> &nbsp; <%=data.shippingAddress.lastName%> </strong> </td>
                                        </tr>
                                        <tr>
                                            <td class="col-6"><%= data.billingAddress.address %>, <%= data.billingAddress.city %>, <%= data.billingAddress.state %>
                                            </td>
                                            <td class="col-6"><%=data.shippingAddress.address%>, <%= data.billingAddress.city %>, <%= data.billingAddress.state %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-6"> <strong> Postcode:</strong>  <%=data.billingAddress.pinCode%> </td>
                                            <td class="col-6"><strong> Postcode: </strong> <%=data.shippingAddress.pinCode%> </td>
                                        </tr>
                                        <tr>
                                            <td class="col-6"><strong> Phone No: </strong> <%=data.billingAddress.phoneNumber%></td>
                                            <td class="col-6"><strong>Phone No: </strong> <%=data.shippingAddress.phoneNumber%> </td>
                                        </tr>
                                        <tr>
                                            <td class="col-6"><strong> GSTIN: </strong></td>
                                            <td class="col-6"><strong> GSTIN: </strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0 table-bordered" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td> <strong>State:</strong> <%=data.billingAddress.state%> </td>
                                            <td><strong>Code</strong></td>
                                            <td> 24 </td>
                                            <td> <strong>Country: IN </strong> </td>
                                            <td> <strong>State: </strong> <%= data.shippingAddress.state %> </td>
                                            <td> <strong> Code </strong> </td>
                                            <td> 24 </td>
                                            <td> <strong> Country: IN </strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0 table-bordered" style="width: 100%;">
                                    <thead>
                                        <tr class="bg-light">
                                            <td style="text-align: center;" class="text-center"><strong>#</strong></td>
                                            <td style="text-align: center;" class="text-center"><strong>Item</strong></td>
                                            <td style="text-align: center;" class="text-center"><strong>QTY</strong></td>
                                            <td class="col-3 text-center" style="text-align: center;"><strong>Rate Per Item (Rs.)</strong></td>
                                            <td style="text-align: center;" class="text-center"><strong>Discount Item</strong></td>
                                            <td class="col-3 text-center" style="text-align: center;"><strong> Taxable Item (Rs.) </strong></td>
                                            <td style="text-align: center;" class="text-center"><strong> HSN </strong></td>
                                            <td style="text-align: center;" class="text-center"><strong> GST % </strong></td>
                                            <% if(data?.billingAddress?.stateCode === 'GJ'){ %>
                                                <td style="text-align: center;" class="text-center"><strong> CGST Rs. </strong></td>
                                                <td style="text-align: center;" class="text-center"><strong> SGST Rs. </strong></td>
                                            <% } else{ %>  
                                                <td style="text-align: center;" class="text-center"><strong> IGST Rs. </strong></td>
                                            <% } %>
                                            
                                            <td style="text-align: center;" class="text-center"><strong> Total Rs. </strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < data?.ordersdetails?.length; i++){ %>
                                            <% 
                                                var price = (data?.ordersdetails[i]?.product?.discountPrice == 0 
                                                            ? data?.ordersdetails[i]?.product?.price 
                                                            : data?.ordersdetails[i]?.product?.discountPrice);
                                            %>
                                            <tr>
                                                <td class="col-1 text-center" style="text-align: center;"><%= i+1 %></td>
                                                <td class="col-6"><%= data?.ordersdetails[i]?.product?.name %></td> 
                                                <td style="text-align: center;" class="text-center"><%= data?.ordersdetails[i]?.quantity %></td> 
                                                
                                                <td style="text-align: center;" class="text-center">₹<%= parseFloat(price * data?.ordersdetails[i]?.quantity)?.toFixed(2) %></td>

                                                <td style="text-align: center;" class="text-center">₹<%= parseFloat(data?.ordersdetails?.[i]?.discountAmount || 0)?.toFixed(2) %></td>

                                                <!-- <td style="text-align: center;" class="text-center"><%= data?.ordersdetails[i]?.product?.taxRate %></td>  -->
                                                 <td style="text-align: center;" class="text-center">₹<%= parseFloat(((
                                                    (price - data?.ordersdetails?.[i]?.discountAmount || 0) - 
                                                    (((price - data?.ordersdetails?.[i]?.discountAmount || 0) * data?.ordersdetails[i]?.product?.taxRate) / (data?.ordersdetails[i]?.product?.taxRate + 100))) * data?.ordersdetails[i]?.quantity)).toFixed(2) %></td>
                                                <td style="text-align: center;" class="text-center"><%= data?.ordersdetails[i]?.product?.hsn %></td>
                                                <td style="text-align: center;" class="text-center"><%= data?.ordersdetails[i]?.product?.taxRate %> %</td>

                                                <% if(data?.billingAddress?.stateCode === 'GJ'){ %>
                                                    <td style="text-align: center;" class="text-center"><%= parseFloat(((((price - data?.ordersdetails?.[i]?.discountAmount || 0) * (data?.ordersdetails[i]?.product?.taxRate)) / ((data?.ordersdetails[i]?.product?.taxRate) + 100)) / 2) * data?.ordersdetails[i]?.quantity).toFixed(2) %></td>

                                                    <td style="text-align: center;" class="text-center"><%= parseFloat(((((price - data?.ordersdetails?.[i]?.discountAmount || 0) * (data?.ordersdetails[i]?.product?.taxRate)) / ((data?.ordersdetails[i]?.product?.taxRate) + 100)) / 2) * data?.ordersdetails[i]?.quantity ).toFixed(2) %></td>
                                                <% } else{ %>  
                                                    <td style="text-align: center;" class="text-center"><%= parseFloat((((((price - data?.ordersdetails?.[i]?.discountAmount || 0) * (data?.ordersdetails[i]?.product?.taxRate / 2)) / ((data?.ordersdetails[i]?.product?.taxRate) + 100))) * 2) * data?.ordersdetails[i]?.quantity).toFixed(2) %></td>
                                                <% } %>

                                                <td style="text-align: center;" class="text-center">₹<%= parseFloat((((((price - ((price * data?.ordersdetails[i]?.product?.taxRate) / (data?.ordersdetails[i]?.product?.taxRate + 100))) * data?.ordersdetails[i]?.quantity) * data?.ordersdetails[i]?.product?.taxRate) / 100) + ((price - ((price * data?.ordersdetails[i]?.product?.taxRate) / (data?.ordersdetails[i]?.product?.taxRate + 100)))) * data?.ordersdetails[i]?.quantity)).toFixed(2) %></td>
                                            </tr>
                                        <% } %> 
                                        <tr>
                                            <td style="text-align: center;" class="text-center bg-light" colspan="2"> <strong> Total </strong> </td>
                                            <td style="text-align: center;" class="text-center"><%=data?.totalQuantity%></td>
                                            <td style="text-align: center;" class="text-center">₹<%=parseFloat(data?.totalActualPrice)?.toFixed(2)%></td>
                                            <td style="text-align: center;" class="text-center">₹<%=parseFloat(data?.couponAmount || 0 )?.toFixed(2)%></td>
                                            <td style="text-align: center;" class="text-center">₹<%=parseFloat(data?.totalTaxablePrice).toFixed(2)%> </td>
                                            <td style="text-align: center;" class="text-center"> - </td>
                                            <td style="text-align: center;" class="text-center">18 %</td>

                                            <% if(data?.billingAddress?.stateCode === 'GJ'){ %>
                                                <td style="text-align: center;" class="text-center"> <%= parseFloat(data.finalTaxAmount).toFixed(2) %> </td>
                                                <td style="text-align: center;" class="text-center"> <%= parseFloat(data.finalTaxAmount).toFixed(2) %> </td>
                                            <% } else{ %>  
                                                <td style="text-align: center;" class="text-center"> <%= parseFloat(data.finalTaxAmount * 2).toFixed(2) %> </td>
                                            <% } %>

                                            <td style="text-align: center;" class="text-center"> ₹<%=parseFloat(data?.totalProductPrice)?.toFixed(2)%> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0 table-bordered" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td class="col-6"> <strong> Terms and Conditions </strong> </td>
                                            <td class="col-3"> Total Amount before Tax </td>
                                            <td class="col-3 text-end" style="text-align: end;"> ₹<%=parseFloat(data.totalTaxablePrice).toFixed(2)%> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="p-0">
                                <table class="table table-sm mb-0 table-bordered" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="6"> <strong> Total Invoice Amount in Words <br>
                                                <%= data.wordTransfer %> Rupees </strong> </td>
                                            <td colspan="2"> Total Tax Amount </td>
                                            <td colspan="2" class="text-end" style="text-align: end;"> ₹<%= parseFloat(data.finalTaxAmount * 2).toFixed(2)%> </td>
                                        </tr>
                                        <tr>
                                            <td> Discount ₹ </td>
                                            <td > ₹<%=data?.couponAmount || 0 %> </td>
                                            <td> Discount </td>
                                            <td colspan="2" class="text-end"> ₹<%=data?.couponAmount || 0 %> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"> Shipping Amount </td>
                                            <td colspan="2" class="text-end" style="text-align: end;"> ₹0 </td>
                                        </tr>
                                        <tr>
                                            <td> GST on Shipping </td>
                                            <td> 18% </td>
                                            <td> Shipping GST Amount </td>
                                            <td colspan="2" class="text-end" style="text-align: end;"> ₹0 </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"> Total Amount After Tax </td>
                                            <td colspan="2" class="text-end" style="text-align: end;"> ₹<%=parseFloat(parseFloat(data?.totalProductPrice) - parseFloat(data?.couponAmount || 0))?.toFixed(2)%> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"> <strong>Total</strong> </td>
                                            <td colspan="2" class="text-end" style="text-align: end;"> <strong>₹<%=parseFloat(parseFloat(data?.totalProductPrice) - parseFloat(data?.couponAmount || 0))?.toFixed(2)%></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td class="col-7 text-1">
                                <div class="fw-600">E&O.E</div>
                            </td>
                            <td class="col-5 pe-1 text-end" style="text-align: end;">
                                <strong> crest-connect-admin  </strong>
                                <div class="text-1 fst-italic mt-3">(Authorised Signature)</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 14px;
            line-height: 24px;
            color: #555;
        }
        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
            border-collapse: collapse;
        }
        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }
        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }
        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }
        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }
        .invoice-box table tr.item.last td {
            border-bottom: none;
        }
        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }
        .title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }
        .text-right {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="invoice-box">
        <table>
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="logo.png" alt="Company Logo" style="width:100%; max-width:300px;">
                            </td>
                            <td class="text-right">
                                <strong>TAX INVOICE</strong><br>
                                Invoice #: <%=data.invoiceId%><br>
                                Order #: <%=data.orderId%><br>
                                Invoice Date: <%=data.orderId%><br>
                                Order Date: <%=new Date(data.orderDate).toLocaleString()%><br>
                                Date of Supply: <%=new Date(data.createdAt).toLocaleString()%><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                crest-connect-admin <br>
                                A6 FF Safal Profitaire<br>
                                Corporate Road, Prahladnagar, Ahmedabad IN<br>
                                GSTIN: 24AACFR5564Q1ZM<br>
                                Phone: +7999142652<br>
                                Email: amz@crest-connect-admin.com
                            </td>
                            <td class="text-right">
                                <strong>Bill To Party:</strong><br>
                                Yaksh Shri<br>
                                S.B. Piera Apt., Prashtha Complex, Nr. Experimental School, Parle Point, Athwalines<br>
                                Phone: +91 9978060434<br>
                                GSTIN: 24AACGSB194L1ZQ<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>Payment Method</td>
                <td class="text-right">UPI/Credit Card/Debit Card/NetBanking</td>
            </tr>
            
            <tr class="details">
                <td>Place of Supply: Surat</td>
                <td></td>
            </tr>
            
            <tr class="heading">
                <td>Item</td>
                <td class="text-right">Price</td>
            </tr>
            
            <tr class="item">
                <td>crest-connect-admin Creamy Facial Wash for Brightening | Anti Acne Face wash | Oil Control Face wash | 100% Paraben Free | No Dryness or Stretchiness for Men and Women 100ml</td>
                <td class="text-right">₹732.90</td>
            </tr>
            
            <tr class="item">
                <td>Vitamin C 20% Serum</td>
                <td class="text-right">₹960.00</td>
            </tr>
            
            <tr class="total">
                <td></td>
                <td class="text-right">Total: ₹1,692.90</td>
            </tr>
        </table>
        
        <br>
        <h3>Terms and Conditions</h3>
        <p>Total Invoice Amount in Words: One Thousand Six Hundred And Ninety Two Indian Rupees And Nine Paise</p>
    </div>
</body>
</html> -->
